
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    width: 70%;
    height: 500px;
    border: 1px white solid;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 8px;
}
.child{
    height: 300px;
    border: 1px white solid;
    background-color: rgb(160, 192, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.parent>:nth-child(1),.parent > :nth-child(5){
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
    height: 80px;
}