
.border{
    border: 1px black solid;
}

.header,.footer{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding-left: 60px;
}
.w-25{
    width: 25%;
}
.footer{
    margin-top: 450px;
}
.aside{
    margin-right: auto ;
}

.section{
    margin-left: auto;
}

.main{
    margin-left: auto;
    margin-right: auto;
}